<div class="navigation-well">
  <div class="navigatable-channel">
    {{#each model.navs as |nav|}}
      <div class="navigatable">
        <div class="navigatable-title">
          <div class="left">
            {{#if nav.hasLeftButton}}
              <div class="button" {{action nav.leftButtonAction target=nav}}>
                <div class="button-label"><i class="fa fa-angle-left"></i>&nbsp;{{nav.leftButtonTitle}}</div>
              </div>
            {{/if}}
          </div>
          <div class="title">{{nav.title}}</div>
          <div class="right">
            {{#if nav.hasRightButton}}
              <div class="button" {{action nav.rightButtonAction target=nav}}>
                <div class="button-label">{{nav.rightButtonTitle}}</div>
              </div>
            {{/if}}
          </div>
        </div>
        <div class="sections">
          {{#each nav.sections as |section|}}
            {{#if section.isCollection}}
              {{nav-sections/collection model=section}}
            {{else if section.isSelect}}
              {{nav-sections/select model=section}}
            {{else}}
              {{nav-sections/section model=section}}
            {{/if}}
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
