<div class="form-group">
  {{cw-button label="Save" style="btn btn-primary"}}
  {{cw-button label="Save" style="btn btn-success"}}
  {{cw-button label="Save" style="btn btn-danger"}}
  {{cw-button label="Save" style="btn btn-default"}}
</div>

<div class="form-group">
  {{cw-button label="Settings" style="btn btn-default" leadingIcon="fa fa-cog"}}
  {{cw-button label="Jim" style="btn btn-default" trailingIcon="fa fa-user"}}
</div>

<div class="form-group">
  {{cw-button label="Show Alert" style="btn btn-default" action="showAlert"}}
</div>
