<div class="form-group">
  {{cw-button label="Save" style="primary"}}
  {{cw-button label="Save" style="success"}}
  {{cw-button label="Save" style="danger"}}
  {{cw-button label="Save"}}
</div>

<div class="form-group">
  {{cw-button label="Settings" leadingIcon="fa fa-cog"}}
  {{cw-button label="Jim" trailingIcon="fa fa-user"}}
</div>

<div class="form-group">
  {{cw-button label="Show Alert" action="showAlert"}}
</div>
